div.right-justified {background-color: aliceblue; margin: 20px}

.btn-primary {
    background: #5858FA;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #2E2EFE;
    color: #FFFFFF;
}

h5 {
    padding: 0.25em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #d9e5ff;/*背景色*/
    border-left: solid 5px #136fff;/*左線（実線 太さ 色）*/
}